.CoupangForm {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-width: 576px;
}

.coupangInput {
  box-sizing: border-box;
  width: 30%;
  margin-inline: auto;
  border: 1px solid #cccccc;
  padding-block: 0.875rem;
  padding-inline-start: 0.875rem;
  margin-block-end: 1.25rem;

  &::placeholder {
    color: #929292;
  }
}

.homeBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-inline: auto;
  margin-block-start: 14.75rem;
  margin-block-end: 3rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(50%);
  border: 0;
  clip: rect(0 0 0 0);
}

.login-option {
  display: flex;
  flex-direction: row;
  width: 30%;
  margin-inline: auto;
  margin-block-end: 1rem;
  justify-content: space-between;
  align-items: center;

  a {
    color: #0074e9;
    text-decoration: none;
  }
  .auto-login {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.875rem;
  }
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

input[type='checkbox'] {
  appearance: none;
  cursor: pointer;
  background-clip: border-box;
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25);
  background-color: #f4f4f4;

  &:checked {
    accent-color: white;
    border: 1px solid #ccc;
    background: url('src/checked.svg') no-repeat;
    background-position: center center;
    background-color: #f4f4f4;
  }
}

.coupangBtn {
  cursor: pointer;
  width: 30%;
  box-sizing: border-box;
  margin-inline: auto;
  padding-block: 1.25rem;
  border-radius: 2px;
  border: none;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.45);
  font-size: 1.125rem;
  font-weight: 700;

  &.btn--blue {
    background-color: #0074e9;
    color: #fff;

    &:disabled {
      background-color: #97aabd;
      color: #d4e0ed;
      cursor: not-allowed;
    }
  }

  &.btn--gray {
    background: #fff;
    color: #0074e9;
  }
}

.coupangInputContainer {
  position: relative;
  margin-inline: auto;
  width: 30%;

  .coupangInput {
    box-sizing: border-box;
    margin-inline: auto;
    border: 1px solid #aaa9a9;
    padding-block: 20px;
    padding-inline-start: 3.5rem;
    margin-block-end: 1.25rem;
    width: 100%;
    height: 50px;

    &::placeholder {
      color: #929292;
    }

    &.errorMessage {
      border: 2px solid #e52528;
    }
  }

  img {
    width: 20px;
    height: 16px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.0625rem 0.78125rem;
    border-inline-end: 1px solid #cccccc;
  }

  .show-password {
    cursor: pointer;
    background: transparent;
    border: none;
    position: absolute;
    right: 30px;
    img {
      border: none;
    }
  }
}

.saveLoginInfo {
  box-sizing: border-box;
  margin-block-end: 0.75rem;
  margin-block-start: -1rem;
  padding-inline-start: 0.25rem;
  position: relative;
  width: 30%;
  margin-inline: auto;

  div {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0px 5px 8px 5px;
    border-color: transparent transparent #f4f4f4 transparent;
    position: absolute;
    left: 10px;
  }

  p {
    margin-block: 8px;
    display: inline-block;
    padding-inline: 0.5rem;
    background-color: #f4f4f4;
    line-height: 30px;
    color: #555555;
    font-size: 0.75rem;
    font-weight: 400;
  }
}
