.input-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-inline: auto;
  gap: 0.5rem;
}

label {
  color: #26262c;
  font-size: 1rem;
  font-weight: bold;

  &::placeholder {
    color: #62636c;
  }
}

input {
  font-size: 0.875rem;
  padding-block: 0.75rem;
  border: none;
  border-bottom: 1px solid #d9d9de;
  width: 100%;
}

.input-field {
  display: flex;
  flex-direction: row;
  position: relative;
}

.control-visible {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
}
