.container {
  width: 50vw;
  min-width: 320px;
  margin-inline: auto;
}

.ul-container {
  display: flex;
  flex-flow: column;
  gap: 1.25rem;
}

.li-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

.item-text {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
  width: 60%;
  min-width: 360px;
}

.cart-image {
  border-radius: 50%;
  width: 4rem;
}

.item-title {
  font-size: 1.25rem;
  font-weight: normal;
  color: #4d4d4d;
}

.item-desc {
  font-size: 1.125rem;
  font-weight: bolder;
}

.inc-dec-container {
  display: flex;
  background-color: #eeeeee;
  border: 1px solid #b3b3b3;
  border-radius: 18px;
  padding-inline: 0.5rem;
  padding-block: 0.125rem;
  align-items: center;
  justify-content: space-around;
  color: #4d4d4d;
  width: 4rem;
}

.set-count {
  display: flex;
  justify-content: center;
  align-items: start;
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 0.125rem;

  &:disabled {
    color: transparent;
    cursor: unset;
  }
}

.item-count {
  margin-inline: 0.25rem;
  font-weight: 600;
  line-height: 1.5rem;
}
