.app {
  width: 6.25rem;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  margin-inline: auto;
}

.add-profile-btn {
  cursor: pointer;
  background-image: url("../src/profile-btn.svg");
  inline-size: 100%;
  block-size: 6.25rem;
  border-radius: 0.75rem;
}

.add-profile-text {
  color: #656c71;
  font-weight: 600;
  font-size: 0.875rem;
  width: 100%;
  text-align: center;
}
